@import "../../styles/style-constants";


.chose-year-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
    padding: 5px;
    height: 50px;
}

.chose-year-title {
    margin: 0 10px;
}
