.chose-year-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
    padding: 5px;
    height: 50px;
}

.chose-year-title {
    margin: 0 10px;
}

.year-selecter {
    margin: 5px 10px;
    height: 30px;
    width: 140px;
    border-radius: 10px;
    background: #0e8c8c;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: calc(10px + 1vmin);
    color: white;
    border: 1px solid #021331
}
