@import "../../../styles/style-constants";

.show-flights-only-btn{
    background-color: $light-theme-color;
    opacity: 0.8;
    border: $dark-border;
    border-radius: $primary-border-radius;
    width: 60px;
    height: 30px;
    color: $dark-color;
    margin: 5px;
    align-self: self-end;
}

.show-flights-only-btn:hover {
    background-color: $btn-color-on-hover;
    color: $text-color-on-hover;
    font-weight: $font-size-on-hover;
    cursor: $cursor-on-hover;
}

.show-flights-only-btn.active {
    background-color: $expand-btn-color;
    color: $text-color;
}
