.stats-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.stats-btns-wrapper {
    display: flex;
    flex-direction: column;
}
