@import "../../../styles/style-constants";


.summary-stats-card-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.summary-stats-title {
    margin: 10px;
}

.summary-stats-card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 450px;
    align-self: center;
    background-color: $dark-theme-color;
    border: $light-border;
    border-radius: $primary-border-radius;
    box-shadow: $shadow;
}

.stat-name {
    margin: 5px;
    text-align: left;
}

.stat-value {
    margin: 5px;
    text-align: right;
}
