.page404_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  width: 80vm;
  font-size: calc(8px + 2vmin);
}

.page404_img {
  width: 60vm;
  height: 20vm;
}

.page404_title {
  font-size: 150%;
}

.page404_reasons {
  font-size: 100%;
}

.page404_back_link {
  font-size: 120%;
  color: rgb(8, 8, 155);
  align-self: flex-end;
  margin-right: 40px;
}
