@import "../../styles/style-constants";

.bread-crumbs {
    display: inline-block;
    list-style-type: none;
    text-align: left;
    padding: 5px;
    margin: 5px;
}

.crumb-element {
    display: inline;
    cursor: $cursor-on-hover;
}

.crumb-element:hover {
    color: $text-color-on-hover;
}

.crumb-element:last-child:hover {
    color: $text-color;
    cursor: default;
}
