.page-content__title {
    font-size: 28px;
}

.detailed-table-container {
    margin: 10px;
}

.details-table {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 3px solid #2f2d2d;
    border-radius: 10px;
}

.table-cell {
    border: 1px solid #031c48;
}
