@import "../../styles/style-constants";


.cards-section {
    display: flex;
    flex-direction: column;
    border: $dark-border;
    border-radius: $primary-border-radius*2;
    margin: 20px;
    box-shadow: $shadow;
    padding: 5px;
    width: 95vw;
}

.cards-wrapper {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

