.card {
    display:flex;
    flex-direction: column;
    background-color: #0a5050;
    border: 1px solid #84e8d6;
    border-radius: 10px;
    margin: 5px;
    width: 300px;
    height: 400px;
}

.card-title {
    margin: 0;
}

.card-stats {
    margin-top: 30px;
    text-align: left;
}

.card-stat-line {
    font-size: calc(8px + 1vmin);
    margin: 5px;
}

.expand-btn {
    background-color: darkgreen;
    border: 2px solid #021331;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    color: white;
    margin-top: 50px;
    align-self: self-end;
}

.expand-btn:hover {
    background-color: gold;
    color: #031c48;
    font-weight: bold;
}

.bread-crumbs-wrapper {
    font-size: calc(4px + 1vmin);
    align-self: start;
}
