.card {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0a5050;
    border: 1px solid #84e8d6;
    border-radius: 10px;
    margin: 5px;
    width: 300px;
    min-height: 270px;
    box-shadow: 4px 4px 3px 2px #021331;
}

.card-title {
    margin: 0;
}

.card-stats {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
    font-size: calc(8px + 1vmin);

}

.stat-name {
    margin: 5px;
    text-align: left;
}

.stat-value {
    margin: 5px;
    text-align: right;
}

.expand-btn {
    background-color: darkgreen;
    border: 2px solid #021331;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    color: white;
    margin: 10px;
    align-self: self-end;

}

.expand-btn:hover {
    background-color: gold;
    color: #031c48;
    font-weight: bold;
}

.bread-crumbs-wrapper {
    font-size: calc(4px + 1vmin);
    align-self: start;
}
