.cards-section {
    border: 3px solid #021331;
    border-radius: 20px;
    margin: 20px;
}

.summary-stats-wrapper {
    border: 2px solid #dcea2a;
    margin: 10px;
    border-radius: 10px;
}

.summary-stats-title {
    margin: 10px;
}

.stat-line {
    font-size: calc(8px + 2vmin);
}

.cards-wrapper {
    margin: 10px;
    border: 2px solid #0818d0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

