@import "../../styles/style-constants";

.layout-wrapper {
    background-color: $light-theme-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $text-color;
    text-align: center;
}
