.page-content__title {
    font-size: 28px;
}

.flights-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 3px solid #2f2d2d;
    border-radius: 10px;
}

.table-cell {
    border: 1px solid #031c48;
}

.month-cell {
    margin-left: 75px;
    font-size: 75%;
    text-align: start;
    padding-left: 5px;
}

.show-months-btn {
    margin: 0px 10px 5px 10px;
    border: 2px solid #021331;
    border-radius: 5px;
    background-color: cadetblue;
    width: 24px;
    height: 24px;
}

.btn-plus {
    background-image: url("icons/icon-plus-24.png");
    background-repeat: no-repeat;
    background-position: center;
}

.btn-minus {
    background-image: url("icons/icon-minus-24.png");
    background-repeat: no-repeat;
    background-position: center;
}

.show-months-btn:hover {
    border: 2px solid #eed649;
    background-color: #00f3c8;
}

.sort-btn {
    position: relative;
    margin-left: 10px;

    width: 0;
    height: 0;
    padding: 0;

    border-width: 12px 7px 0;
    border-color: transparent;
    border-top-color: #74c9c9;
    background-color: transparent;

    cursor: pointer;
    -webkit-transition: border-top-color 0.3s ease, outline-color 0.3s ease;
    transition: border-top-color 0.3s ease, outline-color 0.3s ease;
}

.sort-btn + .btn-up  {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sort-btn:hover {
    border-top-color: #031c48;
}

.sort-btn:hover {
    outline: 1px solid #031c48;
    outline-offset: 1px;
}

.sort-btn--active {
    border-top-color: #031c48;
    pointer-events: none;
}

