.show-months-btn {
    margin: 0px 10px 5px 10px;
    border: 2px solid #021331;
    border-radius: 5px;
    background-color: cadetblue;
    width: 24px;
    height: 24px;
}

.btn-plus {
    background-image: url("icons/icon-plus-24.png");
    background-repeat: no-repeat;
    background-position: center;
}

.btn-minus {
    background-image: url("icons/icon-minus-24.png");
    background-repeat: no-repeat;
    background-position: center;
}

.show-months-btn:hover {
    border: 2px solid #eed649;
    background-color: #00f3c8;
}
