@import "../../styles/style-constants";


.filter-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
    padding: 5px;
}

.filter-section fieldset {
    margin: 5px;
    border-radius: $primary-border-radius;
    width: 120px;
}

#airport-fieldset {
    width: 140px;
}

.filter-section legend {
    font-size: $primary-font-size;
}

.filter-selector {
    margin: 5px 10px;
    padding-left: 5px;
    height: 30px;
    width: 100px;
    border-radius: $primary-border-radius;
    background: $light-theme-color;
    color: $text-color;
    border: $selector-border
}

#airport-selector {
    width: 180px;
}


