.work-time-types-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-label {
    display: inline-flex;
    justify-content: flex-start;
    font-size: calc(10px + 1vmin);
    width: 70px;
}

.work-time-radio {
    margin-right: 10px;
    horiz-align: left;
    width: 15px;
}
