@import "../../styles/style-constants";


#flights-search-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form-search-flights {
    text-align: left;
    margin-top: 10px;
}

.form-search-input {
    width: 180px;
    height: 30px;
    background: $light-theme-color;
    color: $text-color;
    border: $selector-border;
    border-radius: $primary-border-radius;
    padding-left: 5px;
}

.form-search-input::placeholder {
    color: #a5b6b6;
}

.form-search-select-list {
    display: inline-block;
    position: absolute;
    width: 180px;
    margin-top: 45px;
    background: $light-theme-color;
    border: $selector-border;
    border-radius: $primary-border-radius*0.5;
    padding: 5px;
}

.form-search__select-item {
    list-style-type: none;
    padding: 2px 5px 2px 5px;
    text-align: left;
}

.form-search__select-item:hover {
    color: $text-color-on-hover;
    cursor: $cursor-on-hover;
}

.list-opened {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}




