@import "../../styles/style-constants";

.search-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
}

.search-section fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    border-radius: $primary-border-radius;
    width: 300px;
}

.search-section legend {
    font-size: $primary-font-size;
}

