.search-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
    padding: 5px;
    font-size: calc(8px + 1vmin);
}

.search-section fieldset {
    margin: 5px;
    border-radius: 10px;
    width: 400px;
}
